<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "1.0.0">

    <name>22 Sekunden Video App</name>

    <description>
        22 Sekunden Video App
    </description>

    <author href="http://itas.cc" email="info@itas.cc">
        Michael Allram - ITAS GmbH
    </author>

    

    <!--<gap:plugin name="org.apache.cordova.core.inappbrowser" /> -->
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
        <feature name="http://api.phonegap.com/1.0/camera" />
<feature name="http://api.phonegap.com/1.0/file" />
</widget>
